certifi==2018.10.15
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==1.5.3
DateTime==4.3
Flask==1.0.2
Flask-Jsonpify==1.5.0
get==1.0.3
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
post==1.0.2
public==1.0.3
pytz==2018.5
PyYAML==3.13
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
swagger-spec-validator==2.4.1
urllib3==1.23
Werkzeug==0.14.1
zope.interface==4.5.0
